<!DOCTYPE html>
<html lang="en">
  <head>
    <h1>Portfolio Items</h1>
  </head>
  <body>
    <%= @portfolio_item.each do |f| %>
    <p><%= f.title %></p>
    <p><%= f.subtitle %></p>
    <p><%= f.body %></p>
    <%= image_tag f.thumb_image unless f.thumb_image.nil? %>
    <% end %>
  </body>
</html>
